/* palette 1 - purples */
$dark_ruby: #2E1114;
$ruby: #501B1D;
$grey_lilac: #64485C;
$lilac: #83677B;
$grey: #ADADAD;
/* palette 2 - blues */
$dark_blue: #0C0032;

/* general variables */
$background_color: white;
$header_color: $dark_ruby;
$text_color: black;
$text_highlight: $grey_lilac;
$links: $ruby;
$header: $ruby;
$navigation: $ruby;
$nav_text: white;
$nav_hover: $dark_ruby;
$nav_active: $lilac;

body {
  background-color: $background_color;
  color: $text_color;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

div#header {
  overflow: hidden;
  background-color: $header_color;
  color: white;
  padding: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div#header:child

#header a.prof-image {
  font-size: 25px;
}

div#header-image {
  float: left;
}

#header-prof-pic {
  height: 10vw;
  width: auto;
  border-radius: 50%;
}

div.title {
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: 3em;
}

div.navigation {
  background-color: $navigation;
  color: $nav_text;
  &:hover {
    background-color: $nav_hover;
  }
}

ul.nav_link {
  display: flex;
  flex-direction: row;
  justify-content: left;
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.nav_link {
  float: left;
  &:active {
    background-color: $nav_active;
  }
}

li.nav_link a{
  color: white;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a {
  color: $links;

  &:focus,
  &:hover {
    color: rgba($links, 0.6);
  }
}
