<div id="header">
    <div id="header-image">
        <a href="index.html" class="prof-image">
            <img id="header-prof-pic" src="images/Sonja_Curiosity.jpg" alt="Sonja Linton Profile Image"/>
        </a>
    </div>
    <div class="title">
        <h2><%= "Sonja's Portfolio" %></h2>
    </div>
</div>