---
title: Portfolio Projects
link: portfolio.html
---
<div id="portfolio">
    <% data.portfolio.projects.each do |project| %>
        <div class="project">
            <h3><%= project.title %></h3>
        </div>
    <% end %>
</div>